# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ralfs\Documents\Study_stuff_mag\4ais_semestris\magistra_darbs\sql-keyword-counter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
